html {
    padding: 0;
    margin: 0;
    background-color: hsl(116, 99%, 30%);
}

body {
    margin-top: 100px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

h1 {
    color: aliceblue;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    letter-spacing: 2px;
    font-weight: 800;
    text-align: center;
}

.header {
    width: 100%;
    height: 100px;
    align-content: center;
    align-items: center;
    padding: 0;
}

#header {
    width: 1000px;
    height: auto;
    border: 0;
    margin: 0;
    padding: 0;
    display: flex;
    margin: auto;
}

#content {
    width: 1000px;
    height: auto;
    border: 0;
    margin: 0;
    padding: 0;
    display: flex;
    margin: auto;
}

.left {
    width: 350px;
    display: flex;
    flex-direction: column;
    height: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    border-top-style: double;
    border-color: hsl(0,0%,28%);
    padding: 0px;
    margin: 10px;
    margin-left: 50px;
    text-align: right;
}

.center {
    width: 300px;
    display: flex;
    flex-direction: column;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    border-style: groove;
    border-color:rgb(0,0,0);
    padding: 0px;
    margin: 10px;
    text-align: center;
    word-spacing: 3px;
}

.right {
    width: 350px;
    display: flex;
    flex-direction: column;
    height: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    border-top-style: solid;
    border-color: #ffffff;
    padding: 0px;
    margin: 10px;
    margin-right: 50px;
    text-align: left;
}
